@model TicketApp.Models.AddToShoppingCartDto

<h1>Add this ticket to Your Cart</h1>

<div class="row">
    <div class="col-md4">
        <form asp-action="AddToShoppingCart">
            <input type="hidden" asp-for="TicketId" />
            <div class="form-group">
                <input disabled class="form-control" asp-for="SelectedTicket.Date" />
            </div>
            <div class="form-group">
                <input type="number" class="form-control" asp-for="Quantity" />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Confirm" />
            </div>
        </form>
    </div>
</div>

